/* You can add global styles to this file, and also import other style files */
.p-menubar{
    padding: 0.5rem;
    background: #333333 !important;
    color:white !important;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
}
a{
    color:white!important;
}
.p-slidemenu .p-menuitem-link .p-menuitem-text{
    color: white !important;
    
}
.p-slidemenu{
    background: #333333 !important;
}